/* * {
    outline: solid 1px red;
} */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    background-color: rgb(89, 110, 124);
}

#global-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

#calculator-container {
    height: 430px;
    width: 350px;
    background-color: silver;
    outline: solid darkblue 2px;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
}

/*Display*/
#display-container {
    height: 30%;
    color: rgb(30, 206, 30);
    background-color: rgb(37, 37, 37);
    padding: 10px;
    margin-bottom: 10px;
}

#main-display {
    height: 70%;
    text-align: right;
    font-size: 350%;
    padding-top: 10px;
}

#secondary-display {
    height: 30%;
    text-align: right;
    font-size: 24px;
}

/*Buttons*/
#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.btn {
    outline: solid darkblue 2px;
    grid-column: auto;
    height: 3rem;
    font-size: 32px;
    border: none;
    border-radius: 0px;
    transition: 100ms;
}

.btn:hover {
    background-color: aliceblue;
    transform: scale(1.02);
}

.btn:last-child {
    grid-column: span 2;
}


